<form method="POST" action="/login" class="formRounded">
    <label>E-Mail: 
        <input type="email" name="player[email]">
    </label>
    <br></br>
    <label> Password: 
        <input type="password" name="password">
    </label>
    <br></br>
    <input type="submit" value="Log In">
</form>