<h1>Welcome <%= current_user.gamer_tag || current_user.name %>!</h1>
<hr>
</br>

<!-- add a game, log out, view a game from a link 
-->
<% current_user.games.each do |g| %>
    <p><a href="/games/<%= g.id %>"><%= g.title %></a></p>
<% end %>

<p><a href="/games/new"><button>Add a Game</button></a></p>

<a href="/logout"><button>Log Out</button></a>