<h2>Add a Game</h2>
<br>
<form method="POST" action="/games">
    <label>Title: 
        <input type = text name="title">
    </label>
    </br>
    <label>Platform: 
        <input type = text name="platform">
    </label>
    </br>
    <label>Release Date: 
        <input type = text name="release_date">
    </label>
    </br>
    <label>Rating: 
        <input type = text name="rating">
    </label>
    </br>
    <label>Description: 
        <textarea name="description"></textarea>
    </label>
    </br>
    <input type="submit" value="Submit">

</form>