<h2>Add a Game</h2>
<br>
<form method="POST" action="/games" class="formRounded">
    <label><b><i>Title: </i></b></br>
        <input type = text name="title">
    </label>
    <br></br>
    <label><b><i>Platform: </i></b></br>
        <input type = text name="platform">
    </label>
    <br></br>
    <label><b><i>Release Date: </i></b></br>
        <input type = text name="release_date">
    </label>
    <br></br>
    <label><b><i>Rating: </i></b></br>
        <input type = text name="rating">
    </label>
    <br></br>
    <label><b><i>Description: </i></b></br>
        <textarea name="description" rows="8" cols="80"></textarea>
    </label>
    <br></br>
    <input type="submit" value="Submit">

</form>