<form method="POST" action="/players" class="formRounded">
    <label><b><i>Name: </i></b></br>
        <input type="text" name="player[name]">
    </label>
    <br></br>
    <label><b><i>Email: </i></b></br>
        <input type="email" name="email">
    </label>
    <br></br>
    <label><b><i>Password: </i></b></br>
        <input type="password" name="password">
    </label>
    <br></br>
    <label><b><i>Gamer Tag: </i></b></br>
        <input type="text" name="player[gamer_tag]">
    </label>
    <br></br>
    <label><b><i>Preferred Platform: </i></b></br>
        <input type="text" name="player[preferred_platform]">
    </label>
    <br></br>
    <input type="submit" value="Sign Up">
</form>