<h1 style="text-align:center;">Welcome to the Video Games Collector!</h1>
<hr>
<br></br>
<p><a href="/login"><button>Log In</button></a>
</p>
<p><a href="/players/signup"><button>Sign Up</button></a>
</p>